

<section class="py-5">
    <div class="row align-item-center">
        <div class="col-4 app-icon">
            <img src="flogo.png">
            <h1 class="heading">Market Grow</h1>
        </div>
            <div class="col-5">
                <form class="form-inline">
                <div class="input-group align-items-center">
                <input class="form-control rounded mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <mat-icon class="input-group-append search-icon">search</mat-icon>
                </div>
                </form>
                </div>
        
        <div class=" col-3 text-end header-btn-grp">
            <button mat-fab>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        favorite
                        </span>
                </mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>
                    <span class="material-symbols-outlined">
                        star
                        </span>
                        
                </mat-icon>
            </button>

        </div>
    </div>
    
</section>




